body {
  margin: 0;
  background-color: rgb(206, 234, 244);
  color: white;
  margin: 2px; 
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgb(159, 226, 250);
}

h1 {
  font-family: 'Fascinate Inline';
  font-size: 20px;
  float: left;
  color: pink;
}

nav {
  float: right
}

#clear {
  clear: both;
}

ul {
  list-style-type: none;
}
