body {
  margin: 0;
  background-color: rgb(159, 226, 250);
  color: white;
}

header::after {
  content: "";
  display: table;
  clear: both;
}


.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  float: left;
}

nav {
  float: right
}

#clear {
  clear: both;
}

ul {
  list-style-type: none;
}
