body {
  margin: 0;
  background-color: rgb(212, 133, 236);
  color: white;
  margin: 2px; 
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
}

h1 {
  font-family: 'Fascinate Inline';
  float: left;
  color: pink;
}

nav {
  float: right
}

#clear {
  clear: both;
}

ul {
  list-style-type: none;
}
